@use '../../styles/colours' as c;

// minimum size between viewport height and viewport width to prevent clipping
$cell-size: calc((min(100vh, 100vw) / 8) * 0.8);

.board {
    display: flex;
    flex-direction: column;
    // border: 1px solid black;
}

.row {
    display: flex;
    flex-direction: row;
}
.cell {
    display: block;
    position: relative;
    width: $cell-size;
    height: $cell-size;
    background-color: c.$cell-even-colour;
    user-select: none;
}

.cellOdd { 
    background-color: c.$cell-odd-colour; 
}

.cellTag {
    margin: auto 10px;
}

.img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 70%;
    height: 70%;
    user-select: none;
}

.highlighted {
    background: c.$background-highlighted-colour;
}

.highlightedCell {
    background: c.$background-selected-cell-color;
}