@use '../../styles/colours' as c;

// minimum size between viewport height and viewport width to prevent clipping
$cell-size: calc((min(100vh, 100vw) / 8) * 0.8);

.board {
    display: flex;
    flex-direction: column;
    outline: 2px solid black;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    display: block;
    position: relative;
    width: $cell-size;
    height: $cell-size;
    background-color: c.$cell-even-colour;
    user-select: none;
}

.cellOdd { 
    background-color: c.$cell-odd-colour; 
}

.cellTag {
    margin: auto 10px;
}

.img {
    position: absolute;
    width: 100%;
    aspect-ratio: 1;

    user-select: none;
    cursor: pointer;
}

.moveHint {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    aspect-ratio: 1;

    background: c.$background-move-hint-colour;
    border-radius: 100%;
    
}

.highlighted {
    position: absolute;
    width: 100%;
    aspect-ratio: 1;

    background: c.$background-highlighted-colour;
}

.coordHint {
    font-size: 1.2rem;
    font-weight: bold;
    width: 20px;
    text-align: center;
    color: c.$cell-odd-colour;
}

.coordHintOdd {
    color: c.$cell-even-colour;
}

.rankHint {
    position: absolute;
    top: 0;
    left: 0;
}

.fileHint {
    position: absolute;
    bottom: 0;
    right: 0;
}