$page-background-color: #282c34;

// $cell-odd-colour: black;
// $cell-even-colour: gray;
$cell-odd-colour: rgb(187,190,100);
$cell-even-colour: rgb(234,240,206);
$background-highlighted-colour: rgb(121, 190, 255);
$background-selected-cell-color: rgb(102, 102, 0);