$page-background-color: #282c34;

$cell-odd-colour: rgb(199, 175, 156);
$cell-even-colour: rgb(240, 226, 206);
$background-move-hint-colour: rgb(121, 190, 255, 0.4);
$background-selected-cell-color: rgb(102, 102, 0);