@use './styles/colours' as c;

#app {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: c.$page-background-color;

}